* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace;
}

.layout {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0;
  bottom: 0;
}

.page {
  height: calc(100% - 60px);
  width: calc(100% - 10px);
  margin: 5px;
  text-align: center;
}

.page.right {
  display: inline-block;
  height: 100%;
  width: calc(100% - 305px);
  margin: 0;
}

.page.left {
  vertical-align: top;
  display: inline-block;
  height: 100%;
  width: 300px;
  margin: 0px;
  margin-right: 5px;
}

.page.left ul {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  list-style: none;
}

.help {
  height:100%;
  font-size: 16px;
  margin-left: 20px;
  text-align: left;
  overflow-y: auto;
}

.list {
  flex: 1;
  height: 100%;
  padding: 3rem;
  overflow-y: scroll;
}

.list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li {
  padding: 1rem;
  margin: 1rem;
  background: #DDD;
  border-radius: .5rem;
  border: solid #CCC 1px;
  cursor: pointer;
}

.OUlist {
 font-size: 16px;
 text-align: left;
 width: 100%;
 height: 100%;
 border-radius: 2px;
 display: inline-block;
 vertical-align: top;
 overflow: hidden;
}

.OUlist ul {
  font-size: 16px;
  padding-left: 1em;
  list-style: none;
}

.form {
  background-color: #DDD;
  height: 100%;
  padding: 5px;
  margin-left: 5px;
}

.form.upper {
  height: 40%;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  overflow-y: auto;
}

.form.lower {
  margin: 0 auto;
  height: 60%;
  width: 100%;
  overflow: hidden;
  background-color: #EEE;
}

.form form {
  width: 100%;
}

.form div {
  display: flex;
}

.form label {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 5px;
  align-items: center;
  border-radius: 10px;
}

.form span {
  flex: 1;
}

.form input, .form select {
  flex: 3;
  width: 100%;
  padding: 3px;
  font-size: 14px;
  border-radius: 3px;
  margin-bottom: 3px;
}

.input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.form button {
  margin: 0 auto;
  width: 45%;
  background-color: orange;
  border: 0;
  padding: 1rem;
}

.nav {
  list-style-type: none;
  margin: 0;
  background-color: #276696;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  width: 100%;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #1E4E71;
}

.nav:after {
  content: "";
  clear: both;
  display: table;
}

.nav li:last-child {
  float:right;
}

.infoWindow {
  text-align: left;
}

.infoWindow ul {
  padding: 0px;
  margin-right: 5px;
  list-style-type: none;
}

.search {
  background-color: lightsteelblue;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.searchinner {
  display: table;
  table-layout: fixed;
  padding: 10px 0px 10px 0px;
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

.searchinner.top {
  height: auto;
  display: table-row;
  margin: 0 auto;
}

.searchinner.bottom {
  display: table-row;
  vertical-align: top;
  height: 100%;
  margin: 0 auto;
  white-space: nowrap;
  overflow-y: scroll;
}

.filter {
  padding: 0px;
  overflow: auto;
}

.filter ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.filter ol li {
  width: 25%;
  float: left;
  padding-top: 6px;
  font-size: 16px;
  font-family: Arial;
}

.filter ol li:last-child {
  width: 75%;
  padding: 0px;
}

.filter select {
  background: #F5FBFC;
  border-style: groove;
  outline: none;
  font-size: 16px;
 }

.input {
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.searchList {
  padding: 0px;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.searchList ul {
  margin: 0;
  padding: 0px;
  list-style: none;
  overflow-y: auto;
  height: 100%;
}

.searchList li {
  padding: 10px;
  margin-top: 4px;
  background: #F5FBFC;
  border-radius: 7px;
  border: solid #BBB 1px;
  cursor: pointer;
  border: groove;
}

.searchList li:hover {
  background-color: #E4EAEB;
}

.searchList ul li ol {
  padding: 0px;
}

.searchList ul li ol li {
  background: inherit;
  padding: 0px;
  margin-top: 0px;
  border: hidden;
  text-align: left;
  list-style: none;
}

.button {
  margin-top: 5px;
  border-radius: 7px;
  padding: 3px;
  width: 100%;
  background: #F5FBFC;
  border-style: groove;
  outline: none;
}

.button:hover:enabled {
  background-color: #E4EAEB;
}

.searchMap {
  height: 100%;
  width: 100%;
  border-radius: 2px;
  background-color: lightsteelblue;
  display: inline-block;
  vertical-align: top;
}

.formMap {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  border-radius: 2px;
  background-color: lightsteelblue;
  display: inline-block;
  vertical-align: top;
}

.map {
  height: 100%;
  width: 100%;
  vertical-align: top;
}
