* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: monospace;
}

.layout {
	position: absolute;
    left: 0px;
    right: 0px;
    top: 0;
    bottom: 0;
}

.app {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.list {
    flex: 1;
    height: 100%;
    padding: 3rem;
    overflow-y: scroll;
}

.list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list li {
    padding: 1rem;
    margin: 1rem;
    background: #DDD;
    border-radius: .5rem;
    border: solid #CCC 1px;
    cursor: pointer;
}

.form {
    background-color: #DDD;
    flex: 1;
    padding: 3rem;
}

.form div {
    display: flex;
}

.form label {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1rem;
    align-items: center;
}

.form span {
    flex: 1;
}

.form input {
    flex: 2;
    padding: 1rem;
    border: 0;
    font-size: 1rem;
}

.form button {
    width: 100%;
    background-color: orange;
    border: 0;
    padding: 1rem;
}

.nav {
    list-style-type: none;
    margin: 0;
    background-color: #276696;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.nav ul {
	list-style-type: none;
    margin: 0;
    padding: 100;
    width: 100%;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #1E4E71;
}

.nav:after {
    content: "";
    clear: both;
    display: table;
}

.nav li:last-child {
	padding: 8px;
    float:right;
}

.searchBar {
	padding: 5px 50px 5px 5px;
    font-size: 16px;
}
