* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace;
}

.layout {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0;
  bottom: 0;
}

.app {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.list {
  flex: 1;
  height: 100%;
  padding: 3rem;
  overflow-y: scroll;
}

.list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li {
  padding: 1rem;
  margin: 1rem;
  background: #DDD;
  border-radius: .5rem;
  border: solid #CCC 1px;
  cursor: pointer;
}

.OUlist ul {
  list-style: none;
}

.form {
  background-color: #DDD;
  flex: 1;
  padding: 3rem;
}

.form div {
  display: flex;
}

.form label {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1rem;
  align-items: center;
}

.form span {
  flex: 1;
}

.form input {
  flex: 2;
  padding: 1rem;
  border: 0;
  font-size: 1rem;
}

.form button {
  width: 100%;
  background-color: orange;
  border: 0;
  padding: 1rem;
}

.nav {
  list-style-type: none;
  margin: 0;
  background-color: #276696;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  width: 100%;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #1E4E71;
}

.nav:after {
  content: "";
  clear: both;
  display: table;
}

.nav li:last-child {
  float:right;
}

.home {
  height: calc(100% - 60px);
  width: calc(100% - 10px);
  margin: 5px;
  text-align: center;
}

.map {
  height: 100%;
  width: calc(70% - 5px);
  margin-left: 5px;
  border-radius: 2px;
  background-color: lightsteelblue;
  display: inline-block;
  vertical-align: top;
}

.search {
  background-color: lightsteelblue;
  width: 30%;
  text-align: center;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
}

.search ol {
  padding: 10px 0px 10px 0px;
  list-style: none;
  width: 95%;
  margin: 0 auto;
}

.filter {
  padding: 0px;
  overflow: auto;
}

.filter ol {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.filter ol li {
  width: 35%;
  float: left;
  font-size: 16px;
  padding-top: 6px;
}

.filter ol li:last-child {
  width: 65%;
  padding: 0px;
}

.input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.searchList {
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

.searchList ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.searchList li {
  padding: 10px;
  margin-top: 5px;
  background: #F5FBFC;
  border-radius: 5px;
  border: solid #BBB 1px;
  cursor: pointer;
}

.searchList li:hover {
  background-color: #E4EAEB;
}

.searchList ul li ol {
  padding: 0px;
}

.searchList ul li ol li {
  background: inherit;
  padding: 0px;
  margin-top: 0px;
  border: hidden;
  border-radius: 0px;
  text-align: left;
}

.locateButton {
  margin-top: 5px;
  border-radius: 3px;
  padding: 3px;
  width: 100%;
}
